$em-base: 10;

html, body {
  height: 100%;
}

body {
  font-family: $BASE_FONT;
  font-size: 62.5%;
  //background: image-url('home_background.jpg') no-repeat fixed;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body, h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input{
  box-shadow: none !important;
  outline: none !important;
}