$BASE_FONT: 'Open Sans';
$S_FONT:    'Lato';
$T_FONT:    'Raleway';

$ICONS: 'club-dance';

$C_WHITE: #FFFFFF;
$C_BLACK: #000000;

$C_PURPLE: #13161c;
$C_SOFT_PURPLE: #1d212a;
$C_SOFT_PURPLE_2: #BA68C8;
$C_DARK_PURPLE: #9C27B0;
$C_BLUE: #4285f4;
$C_SKY_BLUE: #F1F2F6;
$C_GREEN: #27b6af;
$C_DARK_GRAY: #424242;
$C_DARK_GRAY_2: #757575;
$C_LIGHT_GRAY: #EEEEEE;
$C_SOFT_GRAY: #F5F5F5;


