.btn{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-family: $S_FONT;

  font-size: 1.4em;
  line-height: 1em;
  font-weight: 600;
  color: #fff;

  outline: 0 !important;
  border: none;

  text-decoration: none;

  &.green {
    background-color: $C_GREEN;
  }

  &.red {
    background-color: #e25d5d;
  }

  &.orange {
    background-color: #edce8c;
  }

  &.blue {
    background-color: #556b8d;
  }

  &.pink {
    background-color: $C_SOFT_PURPLE_2;
    padding: 20px 50px;
    font-size: 1.8em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.29);
  }

  &.small {
    padding: 6px;
    font-size: 1.2em;
  }


}//.btn
