.table {
  font-size: em(12px);
  border-spacing: 0;
  border-collapse: collapse;
  background-color: $C_WHITE;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: $C_LIGHT_GRAY;

  >thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  >tbody>tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

}//.table